<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">   
    <link rel="stylesheet" href="/css/form.css">   
    <title>Agregar un nuevo producto</title>
</head>
<body>
        <header class="main-header">
                <nav class="main-header-item--nav">
            <ul class="nav-item--list">
                <li class="list-item"><a href="/admin/agregarProducto" class="active">Agregar un nuevo producto</a></li>
                <li class="list-item"><a href="/productos">Lista de productos</a></l>
            </ul>
        </nav>
        </header>
        <div class="contenedor-formulario">
    <form action="/admin/nuevoproducto" method="post" class="formulario">
        <label for="producto" class="formulario-label">Producto</label>
    <input type="text" name="producto" id="producto" placeholder="nombre del nuevo producto" required class="formulario-item--input"> 
<button type="submit" class="formulario-item--btn">Enviar</button>
    </form>
</div>
</body>
</html>