<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">   
    <title>indice</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header-item--nav">
    <ul class="nav-item--list">
        <li class="list-item"><a href="admin/agregarProducto">Agregar un nuevo producto</a></li>
        <li class="list-item"><a href="/productos">Lista de productos</a></l>
    </ul>
</nav>
</header>
<div class="contenido">
    <h1 class="contenido-title">Catalogo de productos</h1>
</div>
    
</body>
</html>