
        <header class="main-header">
            <nav class="main-header-item--nav">
        <ul class="nav-item--list">
            <li class="list-item"><a href="/admin/agregarProducto" class="<%= !!agregarProducto ? 'active' : ''; %>">Agregar un nuevo producto</a></li>
            <li class="list-item"><a href="/productos" class="<%= !!producto ? 'active' : ''%>">Lista de productos</a></l>
        </ul>
    </nav>
    </header>