<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" 
        href="/css/form.css")
        link(rel="stylesheet" 
        href="/css/main.css")
        title agregar producto
    body
        header.main-header
            nav.main-header-item--nav
                ul.nav-item--list
                    li.list-item 
                        a(href="admin/agregarProducto").active Agregar un nuevo producto
                    li.list-item 
                        a(href="/productos") Lista de productos
        .contenedor-formulario
            form(action="/admin/nuevoproducto" method="post").formulario
                label(for="producto").formulario-label Producto
                input(type="text", name="producto", placeholder="nombre del nuevo producto", required)#producto.formulario-item--input
                button(type="submit").formulario-item--btn Enviar
