<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<h1>Sucedio un error en los servidores, agradecemos su paciencia y no disculpamos por los incovenientes causados!</h1>
<%- include('includes/end.ejs') %>

