.productos {
    width: 80%;
    margin: auto;
    text-align:center;
}

.lista-carrito {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction:column;
    flex-wrap:wrap;
}

.lista-carrito--item {
    padding: 1rem;
    border: 1px solid grey;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin:1rem;
    display:flex;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: grey 7px 8px 5px;
    border-radius: 5px;
    flex:.1 .1 25%;
}

.lista-carrito--item:hover{
  box-shadow:none;
}
.list-item--img {
    width: 100%;
    height: auto;
}
.lista-item--btn{
  color:#3737b7;
    background: white;
    border:1px solid #3737b7;
    border-radius: 5px;
    padding:.5rem;
    margin:.5rem auto;
    width:30%;
}


.productos-item--btn-compra{
    color:#1bc55c;
    background: white;
    border:1px solid #1bc55c;
    border-radius: 5px;
    padding:.5rem;
    margin:.5rem auto;
    width:30%;
}
.productos-item--btn-compra:hover{
    color:white;
    background: #1bc55c;
    border:1px solid white;
    border-radius: 5px;
    padding:.5rem;
    margin:.5rem auto;
    width:30%;
}
.lista-item--cantidad{
    width: 30px;
}