.contenido {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productos {
    width: 80%;
    margin: auto;
}

.lista-productos {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap:wrap;
}

.lista-productos--item {
    padding: 1rem;
    border: 1px solid grey;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* justify-content: space-around; */
    margin: 1rem;
    width:25%;
    box-shadow: grey 7px 8px 5px;
    border-radius: 5px;
    height: 40vh
}

.lista-productos--item:hover{
  box-shadow:none;
}
.list-item--img {
    max-width: 100%;
    max-height: 30%;
}
.lista-item--btn{
  color:#3737b7;
    background: white;
    border:1px solid #3737b7;
    border-radius: 5px;
    padding:.5rem;
    margin:.5rem auto;
    width:30%;
    outline: none;
    text-decoration: none;
}
.lista-item--titulo{
    border:none;
    font-size:1.5rem;
    margin:0;
}
.lista-item--conjunto{
    /* margin:1rem; */
}
.lista-item--btn-form{
    color:#3737b7;
      background: white;
      border:1px solid #3737b7;
      border-radius: 5px;
      padding:.5rem;
      margin:.5rem auto;
      width:100%;
      font-size:1rem;
  }
  